/* #region Global Styles */
.hidden {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: white;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0;
}

p {
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

.section-title {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.section {
  padding: 120px 0;
}

/* #region adaptive global */
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* #endregion adaptive global */
/* #endregion Global Styles */

/* #region header */

.site-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.site-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav,
.contact-info {
  display: none;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

button {
  cursor: pointer;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.footer-logo {
  color: #f4f4fd;
}

.logo-web {
  color: #4d5ae5;
}

.site-header .logo {
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .site-header .logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .main-nav {
    display: flex;
    align-items: center;
  }

  .main-nav-list {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
  }

  .main-nav-link {
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .main-nav-link.current {
    position: relative;
  }
  .main-nav-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .contact-info {
    display: flex;
    font-style: normal;
    margin-left: auto;
  }
  .contact-info-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin-left: 0 auto;
  }

  .contact-info-link {
    font-size: 12px;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: inline-block;
    font-style: normal;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-info-link:hover,
  .contact-info-link:focus,
  .main-nav-link:hover,
  .main-nav-link:focus,
  .main-nav-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .site-header .logo {
    margin-right: 76px;
  }

  .contact-info-list {
    flex-direction: column;
    gap: 40px;
  }

  .contact-info-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* #endregion header */

/* #region hero */
/* #endregion hero */

/* #region features */

/* #endregion features */

/* #region team */

/* #endregion team */

/* #region portfolio */

/* #endregion portfolio */

/* #region footer */

/* #endregion footer */

/* #region modal */

/* #endregion modal */

/* #region active */

/* #endregion active */
