/* #region Global Styles */


/* #endregion Global Styles */
/*#region Base Styles*/















/*#endregion Base Styles*/

/* #region nav */













/* #endregion nav */

/* #region hero */


/* #endregion hero */

/* #region features */



/* #endregion features */

/* #region team */


/* #endregion features */

/* #region portfolio */










/* #endregion portfolio */
/* #region footer */


/* #endregion footer */

/* #region modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px;
  border-radius: 4px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
  object-fit: contain;
  display: block;
  fill: #2e2f42;
}
.modal-title {
  display: flex;
  margin: 0 auto;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-wrapper {
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 4px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  /*height: 58px;*/
}

.form-label,
.form-input::placeholder,
.form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.input-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  width: 169px;
  background-color: #4d5ae5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border-radius: 4px;
  padding: 16px 32px;
  /*width: 169px;*/
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  margin: 0 auto;

  border: none;
  margin-top: 24px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  height: 120px;
  padding-left: 16px;
  padding-top: 8px;
  resize: none;
}

.textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 120px;
}

.form-checkbox {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.form-checkbox .form-input {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
}
.form-checkbox .form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.checkbox-box {
  position: relative;
  width: 16px;
  height: 16px;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%; /* ✅ центр по горизонталі */
  transform: translate(-50%, -50%);
  fill: transparent;
  /*display: none;*/
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
}
.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion modal */
/* #region active */





.send-btn:hover,
.send-btn:focus {
  background-color: #404bbf;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #fff;
}





.portfolio-item:hover .overlay {
  transform: translatey(0);
}



/*
.input:checked + label > span {
  fill: #4d5ae5;
}*/

.modal .input-wrapper input:focus + .form-icon,
.modal .input-wrapper input:hover + .form-icon {
  fill: #4d5ae5;
}
/*input[type="checkbox"]:checked {
  fill: #404bbf;
}*/

input:focus,
input:hover,
textarea:focus,
textarea:hover {
  outline: none;
  border-color: #4d5ae5;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
}

.visually-hidden:checked + .form-label .checkbox-box {
  background-color: #404bbf;
  border-color: #404bbf;
}

.visually-hidden:checked + .form-label .checkbox-icon {
  fill: #f4f4fd;
}



/*.privacy-link:hover,
.privacy-link:focus {
  color: #4d5ae5;
}*/

/* #endregion active */
/* #region media */

@media (min-width: 320px) {
}

@media (min-width: 768px) {
  .container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }



/* #endregion media */
